body{

	background: url(img/BackImg.jpg) no-repeat fixed center;
	background-size: cover;
	font-family: "Roboto";
	-webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {

   text-align: center;

}

:-moz-placeholder { /* Firefox 18- */

   text-align: center;

}

::-moz-placeholder {  /* Firefox 19+ */

   text-align: center;

}

:-ms-input-placeholder {  

   text-align: center;

}
